*.cover
*.db
*.egg
*.egg-info/
*.iml
*.log
*.pkl
*.pot
*.pyc
*.pyc
*.pyd
*.pyo
*.pyo
*.sqlite
*.swp
*.tar.gz
*.whl
.AppleDouble
.DS_Store
.LSOverride
.cache/
.idea/
.mypy_cache/
.venv/
.vscode/
Desktop.ini
ENV/
Thumbs.db
__pycache__/
build/
coverage.xml
dist/
env/
venv/
